@font-face {
  font-family: 'PenumbraSansStd';
  src: url("../Resources/fonts/PenumbraSansStd-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'PenumbraSansStd-Bold';
    src: url("../Resources/fonts/PenumbraSansStd-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'arial-black';
    src: url("../Resources/fonts/arial-black.ttf") format('truetype');
}

@font-face {
    font-family: 'ZeroesOne';
    src: url("../Resources/fonts/ZeroesOne.ttf") format('truetype');
}

@font-face {
  font-family: 'PenumbraSansStd';
  src: url("/NuTeamForeverWebsite/Resources/Fonts/PenumbraSansStd-Regular.otf")
       format("opentype");
}

@font-face {
  font-family: 'PenumbraSansStd-Bold';
  src: url("/NuTeamForeverWebsite/Resources/Fonts/PenumbraSansStd-Bold.otf")
       format("opentype");
}

@font-face {
  font-family: 'arial-black';
  src: url("/NuTeamForeverWebsite/Resources/Fonts/arial-black.ttf")
       format("truetype");
}

@font-face {
  font-family: 'ZeroesOne';
  src: url("/NuTeamForeverWebsite/Resources/Fonts/ZeroesOne.ttf")
       format("truetype");
}


html {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

/* Header styling */
.TFHeader {
    display: flex;
    justify-content: center;
    background-color: #000000;
    clip-path: polygon(100% 50%, 100% 0%, 0 0, 0 50%, 50% 85%);
}

.TFHeader img{
    width: 300px;
    height: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}


/* Selected navigation item */
nav {
    text-align: center;
}

li {
    display: inline-block;
    font-family: PenumbraSansStd, sans-serif;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    font-size: 190%;
    transform: scaleY(1.3);
}

.selected {
    background-color: #0757FF;
}

.selected a {
    display: inline-block;
    transform: translateY(-15px);
    color: white;
    -webkit-text-stroke: 6px #0757FF;
    paint-order: stroke fill;
}

li a {
    text-decoration: none;
    color: black;
}

/* Home page things */
.intro-text {
    max-width: 40%;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;
    text-align: center;
    padding: 0 20px;
}

.content-section {
    background-color: #000000;
    max-width: 40%;
    margin: 80px auto;
    text-align: center;
    padding: 1%;
    transform: rotate(5deg);
    scrollbar-color: #ffffff #000000;
}

.content-section h1 {
    font-family: Impact, Helvetica, sans-serif;
    color: white;
    font-size: 330%;
}

.social-contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
    width: 100%;
    text-align: center;
    max-width: 100%;
    margin: 40px auto;    
}

.socials{
    grid-column: 1;
    padding: 5%;
}

.contact-us {
    grid-row: 1;
    grid-column: 3;
    padding: 5%;
}

.contact-us h2 a{
    color: white;
    text-decoration: underline;
}

.letter {
    transform: rotate(-10deg);
}


.social-contact-section section {
    background-color: #000000;
}

.social-contact-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 160%;
    margin-bottom: 10px;
    padding: 3%;
}

.socialsTitle{
    font-family: "arial-black", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 200%;
    grid-column: 1;
    transform: scalex(2);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-links img {
    width: 120px;
    height: auto;
    margin: 0 10px;
}

.contactTitle{
    font-family: "arial-black", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 200%;
    grid-column: 3;
    transform: scalex(2);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 100%;
}

@media (min-width: 1400px) {
    .slider {
        height: 30vh;
    }
}

#posts {
  display: flex;
  gap: 2%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
  scroll-snap-type: x mandatory;
  align-items: center;
  align-self: center;
}

#posts .bluesky-embed {
  flex: 0 0 350px;
  scroll-snap-align: start;
}

#posts article {
  min-width: 250px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.slides {
    width: 100%;
    height: 100%;
}

.slides img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: center;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsla(0, 0%, 0%, 0);
    border: none;
    cursor: pointer;

}

.prev{
    left: 0;
}
.next{
    right: 0;
}

img.displaySlide{
    display: block;
    animation-name: slide;
    animation-duration: 1.5s;
}
@keyframes slide {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

.carousel{
    display: flex;
    overflow-x: auto;
    overflow: hidden;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 30s infinite linear;
    padding-right: 1em;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.card{
    align-content: center;
    flex: 0 0 5em;
    height: 40vh;
    width: 70vh;
}

@keyframes spin{
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

.third-party-section h2 {
    font-family: "arial-black", Helvetica, sans-serif;
    color: black;
    font-size: 180%;
    margin-bottom: 10px;
    padding: 3%;
    text-align: center;
}

.third-party-section span {
    font-family: "ZeroesOne", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 200%;
}

.projectInfo {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.projectPopupDisplay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.projectPopupDisplay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.projectPopupContent {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    background-color: white;
    padding: 20px;
    border: 10px solid #000000;
    position: relative;
    align-items: center;
    margin: 10vh 20vh;
}

.projectPopupContent section {
    align-items: center;
    justify-content: center;
}

.projectPopupContent button {
    background-color: white;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.projectPopupContent img {
    width: 60%;
    height: auto;
    grid-column: 2;
    margin-bottom: 20px;
}

.projectPopupContent a {
    background-color: black;
    font-family: "PenumbraSansStd", sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
}

.popupText{
    max-width: 60vh;
    font-size: 1.5em;
}

.projectDescription {
    font-family: "PenumbraSansStd", sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
    margin-top: -20px;
}

#projectDesc {
    border-bottom: 10px solid #000000;
}

#whoEnvolved {
    margin-top: 10px;
    font-style: italic;
    color: #8e8e8e;
}

/* Footer styling */
footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;   
    padding: auto;
}

.footer-row p {
    grid-column: 2;
    max-width: 140ch;
    text-align: center;
    margin: 0;
}

footer h1 {
    font-family: "arial-black", sans-serif;
    text-align: center;
    font-size: 140%;
    margin-top: 10px;
}

.back-to-top {
    grid-column: 3;
    justify-self: end;
}






