@font-face {
  font-family: 'PenumbraSansStd';
  src: url("../Resources/fonts/PenumbraSansStd-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'PenumbraSansStd-Bold';
    src: url("../Resources/fonts/PenumbraSansStd-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'arial-black';
    src: url("../Resources/fonts/arial-black.ttf") format('truetype');
}

@font-face {
    font-family: 'ZeroesOne';
    src: url("../Resources/fonts/ZeroesOne.ttf") format('truetype');
}

html {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 100%;
}

@media (min-width: 1400px) {
    .slider {
        height: 30vh;
    }
}

#posts {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* spacing between posts */
  overflow-x: auto; /* allows scrolling if too many posts */
  color:#ffffff;
}

#posts article {
  min-width: 250px; /* each post gets its own block */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.slides {
    width: 100%;
    height: 100%;
}

.slides img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: center;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsla(0, 0%, 0%, 0);
    border: none;
    cursor: pointer;

}



.prev{
    left: 0;
}

.next{
    right: 0;
}



img.displaySlide{
    display: block;
    animation-name: slide;
    animation-duration: 1.5s;
}

footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}

@font-face {
  font-family: 'PenumbraSansStd';
  src: url("../Resources/fonts/PenumbraSansStd-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'PenumbraSansStd-Bold';
    src: url("../Resources/fonts/PenumbraSansStd-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'arial-black';
    src: url("../Resources/fonts/arial-black.ttf") format('truetype');
}

@font-face {
    font-family: 'ZeroesOne';
    src: url("../Resources/fonts/ZeroesOne.ttf") format('truetype');
}

html {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

/* Header styling */
.TFHeader {
    display: flex;
    justify-content: center;
    background-color: #000000;
    clip-path: polygon(100% 50%, 100% 0%, 0 0, 0 50%, 50% 85%);
}

.TFHeader img{
    width: 300px;
    height: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}


/* Selected navigation item */
nav {
    text-align: center;
}

li {
    display: inline-block;
    font-family: PenumbraSansStd, sans-serif;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    font-size: 190%;
    transform: scaleY(1.3);
}

.selected {
    background-color: #0757FF;
}

.selected a {
    display: inline-block;
    transform: translateY(-15px);
    color: white;
    -webkit-text-stroke: 6px #0757FF;
    paint-order: stroke fill;
}

li a {
    text-decoration: none;
    color: black;
}

/* Home page things */
.intro-text {
    max-width: 40%;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    text-align: center;
    padding: 0 20px;
}

.content-section {
    background-color: #000000;
    max-width: 40%;
    margin: 40px auto;
    text-align: center;
    padding: 1%;
}

.content-section h1 {
    font-family: Impact, Helvetica, sans-serif;
    color: white;
    font-size: 330%;
}


/* Footer styling */
footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;   
    padding: auto;
}

.footer-row p {
    grid-column: 2;
    max-width: 140ch;
    text-align: center;
    margin: 0;
}

footer h1 {
    font-family: "arial-black", sans-serif;
    text-align: center;
    font-size: 140%;
    margin-top: 10px;
}

.back-to-top {
    grid-column: 3;
    justify-self: end;
}






