@font-face {
  font-family: 'PenumbraSansStd';
  src: url("../Resources/fonts/PenumbraSansStd-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'PenumbraSansStd-Bold';
    src: url("../Resources/fonts/PenumbraSansStd-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'arial-black';
    src: url("../Resources/fonts/arial-black.ttf") format('truetype');
}

@font-face {
    font-family: 'ZeroesOne';
    src: url("../Resources/fonts/ZeroesOne.ttf") format('truetype');
}

html {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

.slider{
    position: relative;
    overflow: hidden;
}

.slides img{
    display: none;
}

.slider button{
    position: absolute;
}

img.displaySlide{
    display: block;
}

footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}

@font-face {
  font-family: 'PenumbraSansStd';
  src: url("../Resources/fonts/PenumbraSansStd-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'PenumbraSansStd-Bold';
    src: url("../Resources/fonts/PenumbraSansStd-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'arial-black';
    src: url("../Resources/fonts/arial-black.ttf") format('truetype');
}

@font-face {
    font-family: 'ZeroesOne';
    src: url("../Resources/fonts/ZeroesOne.ttf") format('truetype');
}

html {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

nav {
    text-align: center;
}

li {
    display: inline-block;
    font-family: PenumbraSansStd, sans-serif;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    font-size: 190%;
    transform: scaleY(1.3);
}

.selected {
    background-color: #0757FF;
}

.selected a {
    display: inline-block;
    transform: translateY(-15px);
    color: white;
    -webkit-text-stroke: 6px #0757FF;
    paint-order: stroke fill;
}

li a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;   
    padding: auto;
}

.footer-row p {
    grid-column: 2;
    max-width: 140ch;
    text-align: center;
    margin: 0;
}

footer h1 {
    font-family: "arial-black", sans-serif;
    text-align: center;
    font-size: 140%;
    margin-top: 10px;
}

.back-to-top {
    grid-column: 3;
    justify-self: end;
}






