@font-face {
  font-family: 'PenumbraSansStd-Regular';
  src: url('https://www.wfonts.com/data/2016/05/22/penumbra-sans-std/PenumbraSansStd-Regular.otf') format('otf');
}

@font-face {
    font-family: 'PenumbraSansStd-Bold';
    src: url('https://www.wfonts.com/data/2016/05/22/penumbra-sans-std/PenumbraSansStd-Bold.otf') format('otf');
}

@font-face {
    font-family: 'arial-black';
    src: url("../fonts/arial-black.ttf") format('truetype');
}

@font-face {
    font-family: 'ZeroesOne';
    src: url("../fonts/ZeroesOne-Regular.ttf") format('truetype');
}

html {
    background-color: #ffffff;
}
